<h1>Forma sekmingai uzpildyta</h1>
<img src="{{image}}" alt="text" />

{{data.title}}
{{data.category}}
{{data.price}}
{{data.description}}
{{data.name}}
{{data.surname}}
{{data.phone}}
{{data.address}}
{{data.country}}
{{data.state}}
{{data.city}}
{{data.test}}